# Xiaomi Mi 8 Pro temporary Linux test configuration.
CONFIG_FB=y
CONFIG_FB_SIMPLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_I2C=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_QCOM_GPI_DMA=y
CONFIG_TOUCHSCREEN_ST_FTS_V521=y
# CONFIG_TOUCHSCREEN_ST_FTS_V521_DEBUG_FS is not set
CONFIG_USB_ETH=y
CONFIG_INPUT_PM8941_PWRKEY=y
CONFIG_KEYBOARD_GPIO=y
CONFIG_BATTERY_PMI8998_FG=m
