[Unit]
Description=Equuleus physical framebuffer X server
After=systemd-user-sessions.service
Conflicts=getty@tty1.service

[Service]
ExecStart=/usr/lib/xorg/Xorg :0 vt1 -config /etc/X11/xorg.conf.d/20-equuleus-fbdev.conf -nolisten tcp -noreset -ac -logfile /var/log/Xorg.0.log
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
